{% extends '::container.html.twig' %}
{% block title %}
    {{ site_name }} tutorials
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ path("AceGenericBundle_embedded_compilerflasher_js") }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#uploadusb").removeClass("btn");
            $("#ports_div").removeClass("input-append");
            $("#upload_icon").remove();
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        #ports {
            visibility: hidden;
            width: 0px;
            height: 0px;
            position: fixed;
        }

        #boards {
            display: block;
            margin: auto;
            width: 70%;
            font-size: 1.2em;
        }

        .alert {
            font-size: 30px;
            line-height: 50px;
            text-align: center;
        }

            /* line 14, multi-line-button.sass */
        #uploadusb {
            -moz-background-clip: padding;
            -webkit-background-clip: padding;
            -o-background-clip: padding-box;
            -ms-background-clip: padding-box;
            -khtml-background-clip: padding-box;
            background-clip: padding-box;
            border-width: 1px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            -o-border-radius: 6px;
            -ms-border-radius: 6px;
            -khtml-border-radius: 6px;
            border-radius: 6px;
            border-style: solid;
            color: white;
            display: block;
            margin: 0.2em auto;
            padding: 12px 15px;
            text-align: center;
            text-decoration: none;
            background-color: #60a3d8;
            background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #89bbe2), color-stop(50%, #60a3d8), color-stop(100%, #378bce));
            background-image: -moz-linear-gradient(top, #89bbe2 0%, #60a3d8 50%, #378bce 100%);
            background-image: linear-gradient(top, #89bbe2 0%, #60a3d8 50%, #378bce 100%);
            border-color: #2970a9;
            border-left-color: #60a3d8;
            border-top-color: #60a3d8;
            -moz-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0 0 inset;
            -webkit-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0 0 inset;
            -o-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0 0 inset;
            box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 0 0 inset;
            color: white;
            text-shadow: #2e7ebd 0 1px 2px;

        {#our own code#} padding: 30px;
            font-size: 30px;
            width: 70%;
        }

            /* line 27, _multi-line-button.sass */
        #uploadusb:active {
            padding: 13px 15px 11px;
        }

            /* line 48, _multi-line-button.sass */
        #uploadusb:hover, #uploadusb:focus {
            background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9dc7e7), color-stop(50%, #74afdd), color-stop(100%, #378bce));
            background-image: -moz-linear-gradient(top, #9dc7e7 0%, #74afdd 50%, #378bce 100%);
            background-image: linear-gradient(top, #9dc7e7 0%, #74afdd 50%, #378bce 100%);
        }

            /* line 50, _multi-line-button.sass */
        #uploadusb:active, #uploadusb.depressed {
            background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #5796c8), color-stop(100%, #6aa2ce));
            background-image: -moz-linear-gradient(top, #5796c8 0%, #6aa2ce 100%);
            background-image: linear-gradient(top, #5796c8 0%, #6aa2ce 100%);
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            -o-box-shadow: none;
            box-shadow: none;
            border-color: #2970a9;
        }
    </style>
{% endblock %}

{% block mainspan %}
    <h1>Getting Started
        <small>Learn how to use {{ site_name }}</small>
    </h1>

    <div class="row-fluid">
        <p>This section will get you ready to use your first Arduino-compatible device. It will get you through all the
            necessary steps and into using your device.</p>

        <p>Please get ready to connect your device. If you have already connected your device, please dicsonnect it.</p>

        <div id="cb_cf" data-sketch="3" data-sections="usbflash"></div>
    </div>

{% endblock %}
