{% extends 'AceStaticBundle:Walkthrough:skeleton.html.twig' %}


{% block javascripts %}
    <script type="text/javascript" src="{{ path("AceGenericBundle_embedded_compilerflasher_js") }}"></script>
    <script type="text/javascript">
        window.setTimeout(function () {
            if ($(".alert").length == 0) {
                window.location.replace("{{ path("AceStaticBundle_walkthrough", {"page":page+1}) }}");
            }
        }, 5000);
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        #ports_div {
            visibility: hidden;
            width: 0px;
            height: 0px;
            position: fixed;
        }

        .alert {
            font-size: 30px;
            line-height: 50px;
            text-align: center;
        }

    </style>
{% endblock %}

{% block page_content %}
    <div id="cb_cf" data-board="Arduino Uno" data-sections="usbflash"></div>
{% endblock %}