{% extends '::base.html.twig' %}


{% block javascripts_base %}
<script>
$(document).ready(function()
{	
	$(".new-repo").click(function() 
	{
		$('[name=project_name]').val($("#your-repos-filter").val());
		$("#create").submit();
	});
});
</script>
{% endblock %}
{% block javascripts %}{% endblock %}

{% block stylesheets_base %}
<style type="text/css" media="screen">
.input-medium.search-query
{
	width: 85%;
	margin-right: 10px;	
}
button.btn
{
	width:100%;
	margin-top: 5px;
}

hr.soften
{
height: 1px;
background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
border: 0;
}
</style>
{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}

<div id="mycontainer" class="container">
		<br />

		{% if app.session.hasFlash('notice') %}
		    <div class="alert alert-success flash-notice">
		        <h2>{{ app.session.flash('notice') }}</h2>
		    </div>
		{% endif %}

		<div class="container-fluid">
		{% block fluidcontainer %}
			<div class="row-fluid">
				{% if is_granted('ROLE_USER') %}		      
				{% block sidebar %}
				<div class="span3">
				    {% render "AceUtilitiesBundle:Default:sidebar" %}    
				</div>    	
				{% endblock %}
				<div class="span9">
				{% else %}
				<div class="span12">
				{% endif %}
				{% block alert %}
				{% endblock %}
				{% block mainspan %}
		
				{% endblock %}
			    </div><!--/span-->
	
		  </div><!--/row-->
		{% endblock %}

		  <footer style="position:fixed; bottom:0px;">
			{% include '::footer.html.twig' %}
		  </footer>
		</div><!--/.fluid-container-->	
</div>


{% endblock %}