{% extends '::container.html.twig' %}
{% block title %}
	About {{ site_name }}
{% endblock %}

{% block mainspan %}
	<h1>{{ site_name }}
		<small>we help you write and share code</small>
	</h1>
	</div>
{% endblock %}