{% extends '::container.html.twig' %}
{% block title "codebender points" %}

{% block mainspan %}
	<div class="page-header">
		<h1>codebender points</h1>
	</div>

	<div class="row-fluid">
		<div class="span12">
			<h3>Refer a friend!</h3>
			<p style="text-align: justify">
				Hi there. We hope you like codebender, and we really hope you like it enough to share it with your
				friends. In fact, we strongly encourage you to do that. To give you an extra nudge, we'd like to offer
				you a some incentive.
			</p>

			<p style="text-align: justify">
				For every friend you invite to codebender, you will earn 20 codebender points, and they will also earn
				50
				points. codebender points is a new system we are introducing, which rewards users for their good deeds
				and for spreading the word about codebender. In the future, you will be able to use your codebender
				points to unlock extra features and other cool stuff.
			</p>
			<h4>Referral Code</h4>

			<p>To invite your friends to codebender and gain codebender points, just share this invitation link with
				them.
			</p>

			<p class="well">
				<a href="{{ url("fos_user_registration_register") ~ "?referrer=" ~ app.user.username }}" target="_blank">{{ url("fos_user_registration_register") ~ "?referrer=" ~ app.user.username }}</a>
			</p>
		</div>
	</div>
	{#<div class="row-fluid">#}
		{#<div class="span6 well well-small">#}
			{#<h4>Twitter</h4>#}
			{#<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://codebender.cc" data-text="Check out codebender. An awesome web platform for Arduino programming." data-size="large">Tweet</a>#}
			{#<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ url("fos_user_registration_register") ~ "?referrer=" ~ app.user.username }}" data-text="codebender - a web platform for Arduino programming. Register and unlock extras & gifts." data-size="large">#}
				{#Invite a friend!#}
			{#</a>#}
			{#<script>!function (d, s, id)#}
				{#{#}
					{#var js, fjs = d.getElementsByTagName(s)[0];#}
					{#if (!d.getElementById(id))#}
					{#{#}
						{#js = d.createElement(s);#}
						{#js.id = id;#}
						{#js.src = "//platform.twitter.com/widgets.js";#}
						{#fjs.parentNode.insertBefore(js, fjs);#}
					{#}#}
				{#}(document, "script", "twitter-wjs");</script>#}
		{#</div>#}
		{#<div class="span6 well well-small">#}
			{#<h4>Facebook</h4>#}
			{#<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fcodebender.cc&amp;width=300&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=276306429134783" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:258px; display:block; margin:auto;}" allowTransparency="true"></iframe>#}
		{#</div>#}
	{#</div>#}

{% endblock %}
