{% extends 'AceEditorBundle:Default:container.html.twig' %}
{% block alert %}
<div class="alert alert-info">
	<h2 id="">Hello {{ name }}!<br /></h2>
</div>
{% endblock %}

{% block mainspan %}
	{% include 'AceEditorBundle:Default:hero.html.twig' %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function()
{
	$("#homepage").addClass("active");
	$('a[rel="tooltip"]').tooltip();
	$('a[rel="popover"]').popover();	
});
</script>

{% endblock %}