{% extends 'AceEditorBundle:Default:container.html.twig' %}
{% block title "Project Info" %}
{% block mainspan %}

<div class="page-header row-fluid" >
	<h1>{{ project }}</h1>
</div>
<div class="row-fluid">
	<pre id="editor" class="span12">{% render "AceFileBundle:Default:getEscapedCode" with {'username': username,'project_name': project} %}</pre>
</div>
{% endblock %}