<div id="myCarousel" class="carousel slide well">
	<div class="carousel-inner">
		<div class="item active">
			<img src="{{asset("images/carousel/project_management.png")}}" alt="">
			<div class="carousel-caption">
				<h4>Manage Sketches</h4>
				<p>Manage your sketches with our project management page. Create and Edit a new Arduino sketch or Edit/Delete an existing one.</p>
			</div>
		</div>
		<div class="item">
			<img src="{{asset("images/carousel/error_output.png")}}" alt="">
			<div class="carousel-caption">
				<h4>Cloud Compile</h4>
				<p>Compile and check your sketch on our servers, using the latest version of the Arduino language, as well as the latest libraries. No more installations. No more updates. No more conflicts.</p>
			</div>
		</div>
		<div class="item">
			<img src="{{asset("images/carousel/flashing.png")}}" alt="">
			<div class="carousel-caption">
				<h4>Upload Sketch to Arduino</h4>
				<p>After compilation, upload your sketch to your connected Arduino straight from your browser, without the need to install anything. Just select port, click Upload, kick back and relax.</p>
			</div>
		</div>
		<div class="item">
			<img src="{{asset("images/carousel/code_folding.png")}}" alt="">
			<div class="carousel-caption">
				<h4>Load Examples</h4>
				<p>Load any of the bundled Arduino sketch examples, or any example bundled with your libraries, fast and easy, just as you're used to. Only a click away.</p>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
