<script type="text/javascript" charset="utf-8">
$(document).ready(function()
{
	$('#installation_tooltip').tooltip();
});
</script>

<div class="row-fluid">
	<div class="span4">
		<h2>Code</h2>
		<p>Use codebender to code faster and easier. Just register and start coding right away. No installations required. Use our great developer tools to write better code, fix bugs faster, and find the docs you need to develop your sketches.</p>
	</div><!--/span-->
	<div class="span4">
		<h2>Compile</h2>
		<p>With {{ site_name }}, your code is compiled faster on the cloud, and saves you the hassle of downloading, installing, and updating all the necessary software. No need to manage and update libraries either!</p>
	</div><!--/span-->
	<div class="span4">
		<h2>Flash</h2>
		<p>Flashing (aka uploading) your program on your Arduino has never been easier. Just plug it in and program it straight from your browser.<a id="installation_tooltip" href="javascript:void()" rel="tooltip" data-original-title="If you are using the Arduino Duemilanove, you'll need to install the FTDI drivers. If you are using the Arduino Uno, you're already set to go in Mac OS X and Linux, and you will only need to install drivers for Windows. Leonardo works out of the box"> No installation required*</a>. If you have an Arduino Ethernet, you can even program it remotely from anywhere in the world!</p>
	</div><!--/span-->
</div><!--/row-->

<hr class="soften">

<div class="row-fluid">
	<div class="span8">
	{% render 'usercontroller:inlineRegisterAction' %}
	</div>
	<div class="span4">
		<h2>Donate!</h2>
		<p>Do you like the idea? We need your support. Please consider donating!</p>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" style="float:right;margin-top: 30px;">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="EJCNGL73TNKSG">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" style="width:147px;" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>
	<!-- <div class="span4">
		<h2>Open Source</h2>
		<p>We absolutely love open source and we deeply believe in the FOSS philosophy. We think it's the way to go for not only software, but hardware, and other aspects of our lives as well. That's why {{site_name}} is completely open source.</p>
		<p>We have even divided {{site_name}} in smaller pieces, so that you can use only the ones you want. You can use the site's software, the web compiler, the Ariadne bootloader, as well as the Arduino programming Java Applet independently if you want. Take a look at our <a href="https://github.com/codebendercc" target="_new">GitHub page.</a></p>
	</div> -->
</div>
