{% extends '::container.html.twig' %}
{% block fluidcontainer %}
	  <div class="row-fluid">        	
	    <div class="span12">
        {% include 'AceGenericBundle:Index:hero.html.twig' %}
        {% include 'AceGenericBundle:Index:features.html.twig' %}
        {% include 'AceGenericBundle:Index:register_getstarted.html.twig' %}
		<hr class="soften">
		{% include 'AceGenericBundle:Index:supporters.html.twig' %}
	    </div><!--/span-->
	
	  </div><!--/row-->
</div>
{% endblock %}
