{% extends '::container.html.twig' %}

{% block mainspan %}
	<h2>Hello {{ name }}!<br /></h2>
	{% include 'AceGenericBundle:Index:features.html.twig' %}		
{% endblock %}

{% block javascripts %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function()
{
	$("#homepage").addClass("active");
	$('a[rel="tooltip"]').tooltip();
	$('a[rel="popover"]').popover();	
});
</script>

{% endblock %}