{% extends 'AceEditorBundle:Default:container.html.twig' %}
{% block title "blog new" %}

{% block mainspan %}
<div class="page-header">
  <h1>ze blog new<small> our latest news</small></h1>
</div>

{% endblock %}

