{% for section, list in examples %}
<li class="dropdown-submenu">
	<a href="javascript:void(0)">{{section}}</a>
	<ul class="dropdown-menu">
	{% for file in list %}
	    <li onclick="warnModal('{{file["url"]}}')"><a href="javascript:void(0)">{{file['name']}}</a></li>
	{% endfor %}
	</ul>
</li>
{% endfor %}

